@model CoreRepoExample_22_02_22.Models.Entity.Course

@{
    ViewData["Title"] = "Kurs Düzenle";
}

<h4>Kurs Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly/>
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktif" /> @Html.DisplayNameFor(model => model.Aktif)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-success" />
                 <a asp-action="KursListe" class="btn btn-primary">Listeye Dön</a>
            </div>
        </form>
    </div>
</div>
