@model CoreRepoExample_22_02_22.Models.Entity.Request
@{
    ViewData["Title"] = "Teşekkürler";
}

<div class="text-center">
    <h3>Teşekkürler @Model.Ad.ToUpper()</h3>
    @Html.ActionLink("Yakında Eklenecek Kurslar","KursListe", new {  isActive=false }, new { @class = "btn btn-primary" })
</div>
